/* 
  ModernUI Styles For Plugin
  Version: 1.0.0 
  Author:David Saunders
*/

#r-dashboard #r-dashboard-container {
    max-width:100%;
}

.ppe-table-filters .topactions .topactions__col-left, .ppe-table-filters .topactions .topactions__col-right {display:block;}
.ppe-table-filters .topactions .topactions__col-left {width:100%;}
.ppe-table-filters {position:none;}

.colourscheme_darkblue header#header .navbar-search, body.colourscheme_darkblue header#header .navbar-search, body.container-fluid.colourscheme_darkblue header#header .navbar-search, div.colourscheme_darkblue header#header .navbar-search {
  background-color:#c9cfdd;
  
}

.colourscheme_darkblue header#header i.material-icons, body.colourscheme_darkblue header#header i.material-icons, body.container-fluid.colourscheme_darkblue header#header i.material-icons, div.colourscheme_darkblue header#header i.material-icons {
  color:#000;
}

.sidebar-toggle i.material-icons {
color:#fff!important;  
}

ul#formlist li p.help-text {
  font-size:11px;
  font-style:italic;
}

.colourscheme_darkblue header#header .header-btn-group .nav-item.dropdown.show, .colourscheme_darkblue header#header .header-btn-group .nav-item:hover, body.colourscheme_darkblue header#header .header-btn-group .nav-item.dropdown.show, body.colourscheme_darkblue header#header .header-btn-group .nav-item:hover, body.container-fluid.colourscheme_darkblue header#header .header-btn-group .nav-item.dropdown.show, body.container-fluid.colourscheme_darkblue header#header .header-btn-group .nav-item:hover, div.colourscheme_darkblue header#header .header-btn-group .nav-item.dropdown.show, div.colourscheme_darkblue header#header .header-btn-group .nav-item:hover {
  background-color: #eee;
}

body.container-fluid footer#footer a, body.container-lg footer#footer a, body.container-md footer#footer a, body.container-sm footer#footer a, body.container-xl footer#footer a,
body.container-fluid footer#footer p, body.container-lg footer#footer p, body.container-md footer#footer p, body.container-sm footer#footer p, body.container-xl footer#footer p {
    color: #9ea6b9;
}

ul#formlist li h2, ul#formlist li label, ul#formlist li ul li h2, ul#formlist li ul li label, ul.form-list li h2, ul.form-list li label, ul.form-list li ul li h2, ul.form-list li ul li label, ul.formlist li h2, ul.formlist li label, ul.formlist li ul li h2, ul.formlist li ul li label {
   
    font-weight: medium;
    color: #000000;
  font-size: 15px;
  margin-bottom:8px;
}

body.container-fluid main#main div.main-content>h1, body.container-lg main#main div.main-content>h1, body.container-md main#main div.main-content>h1, body.container-sm main#main div.main-content>h1, body.container-xl main#main div.main-content>h1 {
  font-size:32px;
  margin-bottom:32px;
}

.colourscheme_darkblue header#header .navbar-search button.material-icons.clear-icon, .colourscheme_darkblue header#header .navbar-search i.material-icons, .colourscheme_darkblue header#header .navbar-search input, body.colourscheme_darkblue header#header .navbar-search button.material-icons.clear-icon, body.colourscheme_darkblue header#header .navbar-search i.material-icons, body.colourscheme_darkblue header#header .navbar-search input, body.container-fluid.colourscheme_darkblue header#header .navbar-search button.material-icons.clear-icon, body.container-fluid.colourscheme_darkblue header#header .navbar-search i.material-icons, body.container-fluid.colourscheme_darkblue header#header .navbar-search input, div.colourscheme_darkblue header#header .navbar-search button.material-icons.clear-icon, div.colourscheme_darkblue header#header .navbar-search i.material-icons, div.colourscheme_darkblue header#header .navbar-search input {
  color:#000;
}

aside#sidebar div.sidebar-scroll {
    margin-top:70px;
}

body, html,.ppe-table-filters table.main-table thead.main-table__section-header {
    background-color:#dbdfe9;
}

body.container-fluid #email_tabs, body.container-fluid #tabs ul.tabs-nav, body.container-lg #email_tabs, body.container-lg #tabs ul.tabs-nav, body.container-md #email_tabs, body.container-md #tabs ul.tabs-nav, body.container-sm #email_tabs, body.container-sm #tabs ul.tabs-nav, body.container-xl #email_tabs, body.container-xl #tabs ul.tabs-nav {
  border-bottom:1px solid #ddd;
  margin-bottom:16px;
}

.colourscheme_darkblue #email_tabs li.current a:not(.closeemail),
.colourscheme_darkblue #email_tabs li.ui-state-active a,
.colourscheme_darkblue #tabs ul.tabs-nav li.current a:not(.closeemail), .colourscheme_darkblue #tabs ul.tabs-nav li.ui-state-active a, body.colourscheme_darkblue #email_tabs li.current a:not(.closeemail), body.colourscheme_darkblue #email_tabs li.ui-state-active a, body.colourscheme_darkblue #tabs ul.tabs-nav li.current a:not(.closeemail), body.colourscheme_darkblue #tabs ul.tabs-nav li.ui-state-active a, body.container-fluid.colourscheme_darkblue #email_tabs li.current a:not(.closeemail), body.container-fluid.colourscheme_darkblue #email_tabs li.ui-state-active a, body.container-fluid.colourscheme_darkblue #tabs ul.tabs-nav li.current a:not(.closeemail), body.container-fluid.colourscheme_darkblue #tabs ul.tabs-nav li.ui-state-active a, div.colourscheme_darkblue #email_tabs li.current a:not(.closeemail), div.colourscheme_darkblue #email_tabs li.ui-state-active a, div.colourscheme_darkblue #tabs ul.tabs-nav li.current a:not(.closeemail), div.colourscheme_darkblue #tabs ul.tabs-nav li.ui-state-active a
{
  border-left:1px solid #ddd;
   border-right:1px solid #ddd;
   border-top:1px solid #ddd;
  height:35px;
  line-height:35px;
}

.colourscheme_darkblue header#header, body.colourscheme_darkblue header#header, body.container-fluid.colourscheme_darkblue header#header, div.colourscheme_darkblue header#header {
    background-color:transparent!important;
    border-bottom:none;
}

#dialog-overlay, .dialog-overlay, .information-overlay, .modal-helper-overlay, .ui-dialog-overlay, .ui-widget-overlay {
    background-color: #070712;
}

body.container-fluid, body.container-lg, body.container-md, body.container-sm, body.container-xl{
    padding-top:0px!important;
}

body.container-fluid .os-content,
body.container-fluid .ppe-form, body.container-lg .ppe-form, body.container-md .ppe-form, body.container-sm .ppe-form, body.container-xl .ppe-form {
    padding:48px!important;
}

.colourscheme_darkblue header#header a.navbar-brand.navbar-logo>svg, body.colourscheme_darkblue header#header a.navbar-brand.navbar-logo>svg, body.container-fluid.colourscheme_darkblue header#header a.navbar-brand.navbar-logo>svg, div.colourscheme_darkblue header#header a.navbar-brand.navbar-logo>svg {
    fill: none;
}


header#header {
    padding: 0;
    background-color: #0034b9;
}

textarea:not([class*=MuiInputBase-input]) {
    min-height:200px;
    min-width: 560px;
    padding:16px!important;
      background-color: #e5e5e5;
}

#search_results .dt-buttons button.buttons-columnShowHide {
  border:1px solid #dbdbdb!important;
  background-color:#fff!important;
  color: #0277bd!important;
}


.MuiPaper-elevation1,.MuiPaper-root,
header#header {
    -webkit-box-shadow:none;
    box-shadow:none;
}

#r-newcustomer button,
.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]), .colourscheme_darkblue .ranges ul li.active:not([class^=Mui]), .colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]), body.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]), body.colourscheme_darkblue .ranges ul li.active:not([class^=Mui]), body.colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]), body.container-fluid.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]), body.container-fluid.colourscheme_darkblue .ranges ul li.active:not([class^=Mui]), body.container-fluid.colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]), div.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]), div.colourscheme_darkblue .ranges ul li.active:not([class^=Mui]), div.colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]),
a#add-new-filter-btn,
header#header a.navbar-brand.sidebar-toggle,
aside#sidebar {
    background-color: #153587!important;
}

aside#sidebar section a {
  height:35px;
  line-height:35px;
}


#r-newcustomer button,
.btn.btn-link, .btn.btn-primary, .btn.btn-secondary, .btn.btn-text, .daterangepicker .ranges .range_inputs button.applyBtn, .daterangepicker .ranges .range_inputs button.cancelBtn, .daterangepicker .ranges ul li, .ui-datepicker .ui-datepicker-buttonpane button, aside#sidebar section a, body.container-fluid #email_tabs li a, body.container-fluid #tabs ul.tabs-nav li a, body.container-lg #email_tabs li a, body.container-lg #tabs ul.tabs-nav li a, body.container-md #email_tabs li a, body.container-md #tabs ul.tabs-nav li a, body.container-sm #email_tabs li a, body.container-sm #tabs ul.tabs-nav li a, body.container-xl #email_tabs li a, body.container-xl #tabs ul.tabs-nav li a {
  font-size:12px;
}

aside#sidebar hr {display:none;}


aside#sidebar.collapsed section div.nav-menu,
aside#sidebar.collapsed section a.show,
.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]):hover, .colourscheme_darkblue .ranges ul li.active:not([class^=Mui]):hover, .colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]):hover, body.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]):hover, body.colourscheme_darkblue .ranges ul li.active:not([class^=Mui]):hover, body.colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]):hover, body.container-fluid.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]):hover, body.container-fluid.colourscheme_darkblue .ranges ul li.active:not([class^=Mui]):hover, body.container-fluid.colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]):hover, div.colourscheme_darkblue .range_inputs button.applyBtn:not([class^=Mui]):hover, div.colourscheme_darkblue .ranges ul li.active:not([class^=Mui]):hover, div.colourscheme_darkblue [class*=btn-primary]:not([class^=Mui]):hover,
aside#sidebar section a.active, aside#sidebar section a:hover {
    background-color: #1e43a3!important;
    color:#fff;
}


body.container-fluid main#main, 
body.container-lg main#main, 
body.container-md main#main, 
body.container-sm main#main, 
body.container-xl main#main {
	padding:32px!important;
}

#innerpagenav ul, #innerpagenav2 ul,
body.container-fluid .ppe-table,
aside#sidebar.collapsed hr,
body.container-fluid main#main div.main-content>h1, body.container-lg main#main div.main-content>h1, body.container-md main#main div.main-content>h1, body.container-sm main#main div.main-content>h1, body.container-xl main#main div.main-content>h1 {
    border:none;
}
#r-newcustomer button,
.btn.btn-link, .btn.btn-primary, .btn.btn-secondary, .btn.btn-text, .daterangepicker .ranges .range_inputs button.applyBtn, .daterangepicker .ranges .range_inputs button.cancelBtn, .daterangepicker .ranges ul li, .ui-datepicker .ui-datepicker-buttonpane button {
  height: 32px;
    line-height: 32px;
}

aside#sidebar section h6 {
    margin-top:24px;
}

header#header .navbar-search input {
    border-radius:100px!important;
}

header#header .navbar-search div.MuiInputBase-root {background:none;}

body.container-fluid .ppe-table,
body.container-fluid .ppe-form,
#r-dashboard .chart-container, 
.ppe-automation-settings ul#formlist .email-notification-options ul.email-notification-options__list li, .ppe-companyprofile-settings .topactions, .r-dashboard-printable-header, body.container-fluid #email_tabs li.current a:not(.closeemail), body.container-fluid #email_tabs li.ui-state-active a, body.container-fluid #tabs ul.tabs-nav li.current a:not(.closeemail), body.container-fluid #tabs ul.tabs-nav li.ui-state-active a, body.container-lg #email_tabs li.current a:not(.closeemail), body.container-lg #email_tabs li.ui-state-active a, body.container-lg #tabs ul.tabs-nav li.current a:not(.closeemail), body.container-lg #tabs ul.tabs-nav li.ui-state-active a, body.container-lg .ppe-form,  body.container-md #email_tabs li.current a:not(.closeemail), body.container-md #email_tabs li.ui-state-active a, body.container-md #tabs ul.tabs-nav li.current a:not(.closeemail), body.container-md #tabs ul.tabs-nav li.ui-state-active a, body.container-md .ppe-form, body.container-sm #email_tabs li.current a:not(.closeemail), body.container-sm #email_tabs li.ui-state-active a, body.container-sm #tabs ul.tabs-nav li.current a:not(.closeemail), body.container-sm #tabs ul.tabs-nav li.ui-state-active a, body.container-sm .ppe-form, body.container-sm .ppe-table, body.container-xl #email_tabs li.current a:not(.closeemail), body.container-xl #email_tabs li.ui-state-active a, body.container-xl #tabs ul.tabs-nav li.current a:not(.closeemail), body.container-xl #tabs ul.tabs-nav li.ui-state-active a, body.container-xl .ppe-form, body.container-xl .ppe-table {
    box-shadow: 5px 5px 10px #c9c9c9;
    border:none;
}